@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
:root {
  --black: #000000;
  --white: #ffffff;
  --light-grey: #e0e0e0;
  --medium-grey: #b2b2b2;
  --form-text: #666666;
  --btn-color: #4da6e4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.btn {
  background-color: var(--btn-color);
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: inherit;
  color: var(--white);
  padding: 1.7rem 6rem;
  border-radius: 0.5rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 21.2rem;
}

.mt-extra {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6rem;
  padding: 0 2rem;
  background-color: var(--black);
  color: var(--white);
}

.navbar .navbar-title {
  font-size: 2.4rem;
  font-weight: 300;
}

.navbar .icon-text {
  display: none;
}

.navbar .facebook-img {
  width: 36px;
  height: 36px;
  opacity: 0.3;
}

.products-title {
  font-size: 3.2rem;
  margin: 4rem 0 0;
  font-weight: 300;
  padding: 0 2rem;
}

.products-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0 2rem;
  min-height: 45.5rem;
}

.products-container .product {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--light-grey);
  margin-top: 2rem;
  -webkit-box-shadow: 0px 4px 0px 0px var(--light-grey);
          box-shadow: 0px 4px 0px 0px var(--light-grey);
}

.products-container .product .product-img {
  background-color: var(--medium-grey);
  min-height: 21.5rem;
  width: 100%;
}

.products-container .product .product-title {
  font-size: 2.4rem;
  padding: 3rem 2rem;
  font-weight: 500;
}

.products-container .product .product-text {
  padding: 0rem 2rem 5rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .form-title {
  font-size: 4.2rem;
  font-weight: 300;
  border-bottom: 1px solid var(--medium-grey);
  width: 100%;
  text-align: center;
  margin: 6rem 0 2rem;
}

.form .form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding: 0 2rem;
}

.form .form-container .input-group {
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 1.6rem 0;
}

.form .form-container .input-group input,
.form .form-container .input-group select {
  border: none;
  padding: 0 2rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--form-text);
}

.form .form-container .input-group input :focus,
.form .form-container .input-group select :focus {
  border: none;
}

.form .form-container .input-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -10px;
  background-size: 46px 46px;
}

.form .form-container .input-group select option {
  width: 100%;
  height: 100%;
}

.form .form-container .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100%;
  margin-bottom: 3rem;
}

.form .form-container .checkbox .checkbox-box {
  width: 2.6rem;
  height: 2.6rem;
}

.form .form-container .checkbox .checkbox-text {
  margin-left: 1rem;
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--form-text);
}

@media (min-width: 1200px) {
  .mt-extra {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navbar-title {
    margin: 0 auto 0 0;
    font-weight: 300;
  }
  .navbar .icon-text {
    display: inherit;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
    padding-right: 1rem;
  }
  .navbar .facebook-img {
    width: 36px;
    height: 36px;
    opacity: 0.3;
  }
  .products-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 3rem;
  }
  .form .form-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .form .form-container .col-full {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .form .form-container .checkbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */